---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:      Georgia, serif;
$base-font-size:        18px;
$small-font-size:       $base-font-size * 0.875;
$base-line-height:      1.5;

$content-width:         780px;
$spacing-unit:          30px;

$text-color:            #2f2d2d;
$brand-color:           #3F51B5;
$code-background:       #f7f7f7;

$grey-color:            #d2d2d2;
$grey-color-light:      lighten($grey-color, 10%);

$max-width:             960px;
$on-desktop:            600px;

$menu-transition:       transform 500ms ease;


@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@import
    "base",
    "typography",
    "grid",
    "syntax-highlighting",
    "404",
    "post",
    "post-list",
    "books",
    "footer",
    "nav",
    "start",
    "work",
    "right-menu",
    "hamburger"
;
