<script type="text/javascript" src="/assets/scripts/fastclick.js"></script>
<script type="text/javascript" src="/assets/scripts/main-script.js"></script>
<script type="text/javascript" src="/assets/scripts/hide-show-nav.js"></script>

<footer>
  <p>Let's be friends! Come say hi <a href="https://instagram.com/johanhforsman">@johanhforsman</a>.
  <div class="bottom-footer">2012<script>new Date().getFullYear()>2012&&document.write("-"+new Date().getFullYear());</script>, Crafted with <span id="heart">{% include icon-heart.svg %}</span></div>
</footer>
