/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}


html {
  height: 100%;
  font-family: $base-font-family;
  font-size: 13px;
  line-height: $base-line-height;
  color: $text-color;

  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

body {
  margin: 0;
  position: relative;
  height: 100%;
  opacity: 0;
  transition: opacity 400ms ease;
  overflow-x: hidden;

  &.fade-in {
    opacity: 1;
  }

  &.fade-out {
    opacity: 0;
  }
}

.main_wrapper {
  position: relative;
  min-height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  overflow: auto;
}

aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 280px;
  transition: transform 300ms ease;
  background-color: #f1f2f1;
  padding-top: $spacing-unit * 2;
  overflow-y: scroll;

  .avatar {
    border-radius: 50%;
    display: block;
    margin: 0 auto 15px auto;
    max-width: 150px;
  }

  p {
    padding: 0 30px;
    line-height: 1.5em;
    font-size: .9rem;
  }

  ul {
    margin-left: 0;
  }

  li {
    list-style-type: none;
  }

  li a {
    display: block;
    width: 100%;
    padding: 15px 30px;
    font-family: 'Source Sans Pro';
    font-weight: 900;
    line-height: 1em;
    border-bottom: 1px solid rgba(0,0,0,.05);
    letter-spacing: 1px;

    &:hover {
      background-color: rgba(0,0,0,.05);
      border-color: transparent;
    }
  }
}

#sidebar_chkbox {
  display: none;
}

#sidebar_chkbox:checked ~ #sidebar,
#sidebar_chkbox:checked ~ article,
#sidebar_chkbox:checked ~ footer {
  transform: translateX(-280px);
}


@media (min-width: $mobile-breakpoint) {
  .main_wrapper {
    padding-bottom: 8rem;
  }
}

@media (min-width: 400px) {
  html { font-size: 15px; }
}

@media (min-width: 500px) {
  html { font-size: 16px; }
}

@media (min-width: 600px) {
  html { font-size: 17px; }
}

@media (min-width: 700px) {
  html { font-size: 18px; }
}

@media (min-width: 800px) {
  html { font-size: 19px; }
}

@media (min-width: 900px) {
  html { font-size: 20px; }
}


/**
 * Wrapper
 */
// .wrapper {
//   max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
//   max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
//   margin-right: auto;
//   margin-left: auto;
//   padding-right: $spacing-unit;
//   padding-left: $spacing-unit;
//   @extend %clearfix;

//   @include media-query($on-laptop) {
//       max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
//       max-width:         calc(#{$content-width} - (#{$spacing-unit}));
//       padding-right: $spacing-unit / 2;
//       padding-left: $spacing-unit / 2;
//   }
// }

.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
        fill: #D3D3D3;
    }
  }
}

// Mobile presentation
// ==============================
.presentation {
  margin: 0 auto;
  padding: 2rem 1rem;
  max-width: $content-width + 100px;
  text-align: center;

  h1 {
    margin-bottom: .5em;
  }

  p {
    max-width: $content-width;
    margin: 0 auto;
  }
}

@media (min-width: $mobile-breakpoint) {
  .presentation {
    padding-top: 3rem;
  }
}
