/* Teh Grid
==================================== */

.row {
  position: relative;
}

.row:before,
.row:after {
  content: '';
  display: table;
}

.row:after {
  clear: both;
}

.row > * {
  margin: 0;
  float: left;
}

[class*="column-"] {
  position: relative;
  min-height: 1px;
  width: 100%;
}

.column-1-1 {
  width: 100%;
}

/* Responsiveness
========================================== */

@media (min-width: 600px) {
  .column-1-2,
  .column-2-4, {
    width: 50%;
  }

  .column-1-3 {
    width: 33.33%;
  }

  .column-2-3 {
    width: 66.66%;
  }
}