
/* Teh Grid
==================================== */

.grid {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: $max-width;
}

.grid__row {
    position: relative;
}

.grid__row:before,
.grid__row:after {
    content: '';
    display: table;
}

.grid__row:after {
    clear: both;
}

.grid__row > * {
    margin: 0;
    float: left;
}

[class*="grid__column-"] {
    position: relative;
    min-height: 1px;
    width: 100%;
}

.grid__column-1-1 {
    width: 100%;
}

/* Responsiveness
========================================== */

@media (min-width: 600px) {
    .grid__column-1-2,
    .grid__column-2-4, {
        width: 50%;
    }

    .grid__column-1-3 {
        width: 33.33%;
    }

    .grid__column-2-3 {
        width: 66.66%;
    }
}
