
nav.top {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    margin: 0 auto;
    height: 48px;
    z-index: 1;
}

#menu_link {
    position: relative;
    float: right;
    cursor: pointer;
    display: inline-block;
    padding: 0 1rem;
    line-height: 46px;
    padding-left: $spacing-unit * 2;
    padding-right: $spacing-unit;
    background-color: #fff;
    transition: background-color 250ms ease 250ms;

    &:hover {
        color: $brand-color;

        #hamburger,
        #hamburger:before,
        #hamburger:after {
            background-color: $brand-color;
        }
    }
}

#hamburger {
    display: inline-block;
    margin-left: 1rem;
    height: 3px;
    width: 20px;
    vertical-align: middle;
    background-color: $text-color;

    &:before,
    &:after {
        content: '';
        display: block;
        height: 3px;
        width: 20px;
        background-color: $text-color;
    }

    &:before {
        transform: translate(0, -6px);
    }

    &:after {
        transform: translate(0, 3px);
    }
}

#right-menu__chkbox:checked ~ nav #menu_link {
    background-color: transparent;
    transition-delay: 0s;
}

#right-menu__chkbox:checked ~ nav .right-menu__open-text {
    opacity: 0;
}

#right-menu__chkbox:checked ~ nav .right-menu__close-text {
    opacity: 1;
}
