
nav.top {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    margin: 0 auto;
    height: 48px;
    z-index: 1;
}

#menu_link {
    position: relative;
    float: right;
    cursor: pointer;
    display: inline-block;
    padding-top: 1rem;
    padding-left: $spacing-unit * 2;
    padding-right: $spacing-unit;
    background-color: white;
    transition: background-color 250ms ease 250ms, color 250ms ease;

    &:hover {
        color: $brand-color;

        #hamburger span {
            background-color: $brand-color;
        }
    }
}

#right-menu__chkbox:checked ~ nav #menu_link {
    background-color: transparent;
    transition-delay: 0s;
}

#right-menu__chkbox:checked ~ nav .right-menu__open-text {
    opacity: 0;
}

#right-menu__chkbox:checked ~ nav .right-menu__close-text {
    opacity: 1;
}
