
.nav-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 48px;
    z-index: 1;
    background-color: #fff;
    transition: transform 300ms ease;

    @media (min-width: $on-desktop) {
        left: auto;
        background-color: transparent;
    }

    &--hidden {
        transform: translateY(-100%);
    }
}

#menu_link,
.nav-top__menu-link {
    position: relative;
    float: right;
    cursor: pointer;
    display: inline-block;
    padding: 12px $spacing-unit 12px $spacing-unit * 2;
    background-color: white;
    transition: background-color 250ms ease 250ms, color 250ms ease, transform 300ms ease;

    &:hover {
        color: $brand-color;

        #hamburger span {
            background-color: $brand-color;
        }
    }

    @media (min-width: $on-desktop) {
        left: auto;
        background-color: transparent;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.nav-top__menu-link {
    display: none;
}

@media (min-width: $on-desktop) {
    #menu_link {
        display: none;
    }
    .nav-top__menu-link {
        display: block;
    }
}

#right-menu__chkbox:checked ~ nav #menu_link,
#right-menu__chkbox:checked ~ nav .nav-top__menu-link {
    background-color: transparent;
    transition-delay: 0s;
}

#right-menu__chkbox:checked ~ nav .right-menu__open-text {
    opacity: 0;
}

#right-menu__chkbox:checked ~ nav .right-menu__close-text {
    opacity: 1;
}
