.post-list {
    list-style-type: none;
    margin-left: 0;

    &__item {
        margin-bottom: $spacing-unit;
    }

    &__link {
        display: block;
        color: $text-color;
        transition: color 250ms ease;
    }

    &__title {
        line-height: 1;
        margin-bottom: 15px;
    }

    &__post-meta {
        color: #808080;
        font-style: italic;
    }
}
