<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <main class="main-wrapper">
        <input id="right-menu__chkbox" type="checkbox">
        {% include header.html %}

        <aside class="right-menu">
            <a href="/">
                <img class="right-menu__avatar" src="../assets/face.jpg" alt="Me">
            </a>
            <p class="right-menu__text">
                Hi, I'm Johan Forsman.</br>32 year old swedish web developer, based in Stockholm.
            </p>
            <ul class="right-menu__list">
                <li class="right-menu__list-item"><a href="/about">About me</a></li>
                <li class="right-menu__list-item"><a href="/books">Bookshelf</a></li>
                <li class="right-menu__list-item"><a href="/blog">Blog</a></li>
                <li class="right-menu__list-item"><a href="/tdbid">TDBID</a></li>
                <li class="right-menu__list-item"><a href="/work">Work</a></li>
            </ul>
        </aside>

        {{ content }}

        {% include footer.html %}
    </main>

  </body>

</html>
