<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="main_wrapper">
        <input id="sidebar_chkbox" type="checkbox">
        {% include header.html %}

        <aside id="sidebar">
            <p>Hello, </br>I'm Johan Forsman. A 31 year old swedish web developer, based in Stockholm.</p>
            <ul>
                <li><a href="/about">About me</a></li>
                <li><a href="/books">Bookshelf</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/tdbid">TDBID</a></li>
                <li><a href="/work">Work</a></li>
            </ul>
        </aside>

        {{ content }}

        {% include footer.html %}
    </div>

  </body>

</html>
